{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% include "header.html" %}
    <form method="post">
        {% csrf_token %}
        <label for="titulo">Titulo:</label>
        <input type="text" name="titulo" id="titulo">
        <label for="img-principal">Imagen principal:</label>
        <input type="file" accept="image/*" name="img-principal" alt="">
        <label for="descripcion-corta">Descripcion corta:</label>
        <input type="text" name="descripcion-corta" id="descripcion-corta">
        <label for="descripcion">Descripcion:</label>
        <input type="text" name="descripcion" id="descripcion">
        <div id="cont-media">

        </div>
        <label for="opciones">Temas:</label>
        {% for theme in themes %}
            <input type="checkbox" name="opciones" id="{{theme.name}}" value="{{theme.name}}">
            <label for="{{theme.name}}">{{theme.name}}</label>
        {% endfor %}
        <label for="destacada">Destacada:</label>
        <input type="checkbox" name="destacada" id="destacada">
        <input type="submit" value="Crear">
    </form>
    <script src="{% static 'js/create_post.js' %}"></script>
</body>
</html>