body {
    overflow-x: hidden;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    width: 90%;
    display: flex;
    flex-direction: column;
}

.img-book {
    width: 20%;
    padding-right: 20px;
}

.title {
    font-size: 20px;
    margin: 0px;
}

.fa-bookmark {
    font-size: 22px;
    padding: 5px;
    text-decoration: none;
    color: #000;
    transition: all 0.3s;
}

.fa-bookmark:hover {
    color: #888888;
}


article {
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    padding: 5px;
    align-items: center;
}

.link-new {
    color: #000;
    display: flex;
    flex-direction: row;
    text-decoration: none;
}

@media (max-width:1200px){
    .link-new {
        flex-wrap: wrap;
    }
    .img-book {
        width: 100%;
        margin-bottom: 10px;
    }

    article {
        flex-wrap: wrap;
    }
}