:root {
    --main: #F68E1E;
}

body {
    max-height: 100vw;
    margin: 0px;
}

#fecha {
    font-family: Arial, Helvetica, sans-serif;
}

.link-themes {
    text-transform: capitalize;
}

#q {
    padding: 5px;
    border: 0px solid transparent;
    border-bottom: 1px solid var(--main);
    background-color: transparent;
    transition: background-color 0.3s;
    width: 150px;
}

#q:focus {
    outline: none;
    background-color: #f5f5f5;
}

#search {
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    border: 0px solid transparent;
    background-color: transparent;
    transition: all 0.3s;
}


#search::placeholder {
    font-family: Arial, Helvetica, sans-serif;
}

#search:hover {
    background-color: var(--main);
    color: #fff;
}

.link-themes {
    color: #000;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    transition: all 0.3s;
    font-weight: 500;
}

.link-themes:hover {
    color: #272727;
}

.btn {
    border-radius: 30px;
    font-size: 14px;
    padding: 7px;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    cursor: pointer;
    color: rgb(59, 59, 59);
    border: 1px solid #ccc;
}

.register {
    background-color: #FDE8CC;
}

.register:hover {
    border: 1px solid var(--main);
}

.btn:hover {
    background-color: #fff1df;
}

.first-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#dollars {
    list-style: none;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
}

#dollars li {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid #ccc;
    padding: 20px;
}