:root {
    --main: #F68E1E;
}

body {
    max-height: 100vw;
    margin: 0px;
}

#fecha {
    font-family: Arial, Helvetica, sans-serif;
}

.link-themes {
    text-transform: capitalize;
}

#q {
    padding: 5px;
    border: 0px solid transparent;
    border-bottom: 1px solid var(--main);
    background-color: transparent;
    transition: background-color 0.3s;
    width: 150px;
}

#q:focus {
    outline: none;
    background-color: #f5f5f5;
}

#search {
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    border: 0px solid transparent;
    background-color: transparent;
    transition: all 0.3s;
}


#search::placeholder {
    font-family: Arial, Helvetica, sans-serif;
}

#search:hover {
    background-color: var(--main);
    color: #fff;
}

#menu {
    display: none;
    position: absolute;
    height: 100%;
    width: auto;
    background-color: #f5f3f3;
}

.cont-menu {
    display: flex;
    align-items: center;
    padding: 10px;
}

.cont-menu-2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: stretch;
    width: 100%;
}

.cont-menu-2 a {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

#close {
    background-color: transparent;
    cursor: pointer;
    border: 0px solid transparent;
}

#close i {
    font-size: 20px;
    color: #616161;
    transition: color 0.3s;
}

#close i:hover {
    color: #000;
}

.link-themes {
    color: #000;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    transition: all 0.3s;
    font-weight: 500;
}

.link-themes:hover {
    color: #272727;
}

.btn {
    border-radius: 30px;
    font-size: 14px;
    padding: 7px;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    cursor: pointer;
    color: rgb(59, 59, 59);
    border: 1px solid #ccc;
}

.register {
    background-color: #FDE8CC;
}

.register:hover {
    border: 1px solid var(--main);
}

.btn:hover {
    background-color: #fff1df;
}

.first-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 2px 2px 2px rgb(207, 207, 207);
}

.first-cont-header {
    display: flex;
    flex-direction: row;
    padding: 10px;
    align-items: center;
    text-align: center;
}

#btn-user {
    background-color: transparent;
    border: 0px solid transparent;
    cursor: pointer;
    text-align: center;
    align-items: center;
    display: flex;
}

#logo-user {
    border: 2px solid var(--main);
    border-radius: 50%;
    width: 35px;
    margin-right: 5px;
}

#dollars {
    list-style: none;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
}

#dollars li {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid #ccc;
    padding: 20px;
}

#menu-user {
    position: absolute;
    display: none;
    background-color: #f5f3f3;
    height: 100vh;
    top: 0;
    right: 0;
    padding: 10px;
    font-family: "Roboto", sans-serif;
}

#menu-user a {
    text-decoration: none;
    color: #000;
    padding: 5px 0px 5px 0px;
}

.cont-first-user {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.cont-first-user p {
    margin: 2px;
}

.cont-logo {
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#logo {
    width: 220px;
    margin: 10px;
}

.pop-tags {
    border-top: 1px solid #a3a3a3;
    border-bottom: 1px solid #a3a3a3;
    width: 90vw;
    display: flex;
    justify-content: center;
}

.pop-tags a {
    margin: 5px;
    color: #858585;
    padding: 5px;
    font-weight: 400;
}

footer {
    background-color: #3b3b3b;
    padding: 50px 20px 10px;
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.info-svg {
    width: 200px;
    margin-bottom: 30px;
}

.data-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
}

.first-data-footer {
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    align-items: center;
}

.icons-media {
    color: #fff;
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 50%;
    font-size: 15px;
}

.icons-media:hover {
    background-color: #616161;
}

.grid-icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
}

.second-data-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Roboto";
    text-align: center;
    color: #fff;
}

.sections-footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
}

.sections-footer a {
    color: #fff;
}