body {
    overflow-x: hidden;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
}


.cont-main {
    width: 90%;
    border-top: 1px solid #858585;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    gap: 20px;
    justify-content: center;
    padding: 10px;
    align-items: stretch;
    
}

.article-ingrid {
    width: auto;
}

.post-img {
    width: 100%;
}

.link-text {
    color: #000;
    text-decoration: none;
    font-family: 'Roboto';
}

.featured {
    width: 90%;
}

.featured p {
    font-size: 20px;
}
.title-feat {
    font-weight: bold;
    font-size: 45px;
}

.feat-img {
    width: 70%;
}

.title-new {
    font-size: 16px;
    min-height: 70px;
    width: 100%;
    text-align: left;
}

@media (max-width:1115px){
    .featured{
        text-align: center !important;
    }

    .title-feat {
        font-size: 35px;
    }

    .featured img {
        width: 100%;
    }

    .pop-tags {
        display: none;
    }
}

@media (max-width:450px){
    .featured {
        text-align: left !important;
    }

    .title-feat {
        font-size: 25px;
    }

    .featured p {
        font-size: 17px;
    }
}