* {
    font-family: "Roboto";
    text-decoration: none;
}

.section-post {
    width: 100%;
    display: flex;
    justify-content: center;
}


.cont-post {
    display: flex;
    flex-direction: column;
    width: 85%;
    display: flex;
}

.theme-link {
    text-decoration: none;
    color: #0a0a0a;
    text-transform: uppercase;
    font-size: 20px;
}



.logo-author {
    width: 50px;
    border-radius: 50%; 
}

#cont-author {
    flex-direction: row;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

#cont-author a {
    text-decoration: none;
    color: #000;
}
.btn-author {
    padding: 8px;
    border-radius: 15px;
    border: 1px solid #000;
    background-color: transparent;
    cursor: pointer;
    transition: padding 0.3s;
}

.btn-author:hover {
    padding: 10px;
}
.edit {
    background-color: rgb(68, 238, 53);
}

.dlt {
    background-color: rgb(238, 66, 53);
}


#title {
    font-size: 44px;
    margin: 8px;
}

.description {
    font-size: 19px;
}

.date-save {
    padding: 8px;
    margin-bottom: 10px;
}

.date-save form button {
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 7px;
    border-radius: 15px;
}

.date-save a {
    color: #818181;
}

.fa-bookmark {
    color: #818181;
    padding: 2px;
}

.themes-post {
    padding: 0px;
}

.fa-plus {
    padding-right: 3px;
}

.themes-post li {
    list-style: none;
    background-color: #7272721a;
    padding: 7px;
    border-radius: 15px;
    display: inline;
}

.themes-post a {
    color: #000;
}