
body {
    overflow-x: hidden;
}

main {
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#log-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
}

#log-form input {
    border-radius: 30px;
    padding: 7px;
    border: 1px solid #ccc;
    font-size: 20px;
}

#log-form button {
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #F68E1E;
    transition: all 0.3s;
    cursor: pointer;
}

#log-form div {
    margin: 5px;
    display: flex;
    flex-direction: column;
}

#log-form button:hover {
    background-color: #ccc;
    border: 1px solid transparent;
}

#log-form ul {
    list-style: none;
    /* display: none; */
    border: 1px solid #F68E1E;
    border-radius: 20px;
    padding: 15px;
    transition: all 0.3s;
    cursor:help;
    width: 100%;
    text-align: center;
}

#log-form ul:hover {
    background-color: #e6e6e6;
}

#log-form p{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.helptext {
    /* display: none; */
}