{% load static %}
{% if user.is_authenticated %}
<script src="{% static 'js/user_menu.js' %}"></script>
{% endif %}
<header>
    <script src="{% static 'js/header.js' %}"></script>
    <div id="menu">
        <div class="cont-menu">
            <button onclick="hideMenu()" id="close"><i class="fa-solid fa-xmark"></i></button>
            <form action="{% url 'search_post' %}" method="post">
                {% csrf_token %}
                <input type="text" name="q" id="q" placeholder="Buscar">
                <button type="submit" aria-label="search_post" id="search"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
        </div>
        <div class="cont-menu-2">
            {% for theme in all_themes %}
                <a href="{% url 'theme' theme.name%}" class="link-themes">{{theme.name}}</a>
            {% endfor %} 
        </div>
    </div>
    <nav class="first-header">
            <div class="first-cont-header">
                <button onclick="showMenu()" id="search" aria-label="search" class="first-search"><i class="fa-solid fa-magnifying-glass"></i></button>
                <p id="fecha">{{today}}</p>
            </div>
            {% for theme in themes %}
                <a href="{% url 'theme' theme.name%}" class="link-themes nav-themes">{{theme.name}}</a>
            {% endfor %}
            {% if user.is_authenticated %}
                <button onclick="showMenuUser()" id="btn-user">
                    <img src="/media/{{user.logo}}" id="logo-user">
                    {{user.nombre}}
                </button>
            {% else %}
                <div>
                    <a href="{% url 'registro' %}"><button class="register btn">Registrarme</button></a>
                    <a href="{% url 'login' %}"><button class="login btn">Iniciar sesion</button></a>
                </div>
            {% endif %}
    </nav>
    {% if user.is_authenticated %}
        <div id="menu-user">
            <div class="cont-first-user">
                <img src="/media/{{user.logo}}" id="logo-user">
                <div>
                    <p>{{user.nombre}}</p>
                    <p>{{user.email}}</p>
                </div>
                <button onclick="hideMenUser()" aria-label="close_button" id="close"><i class="fa-solid fa-xmark"></i></button>
            </div>
            <a href="{% url 'profile' user.nombre %}">Mi perfil</a>
            <a href="{% url 'guardados' %}">Guardados</a>
            {% if user.is_staff %}
            <a href="{% url 'create_post' %}">Crear noticia</a>
            {% endif %}
            <a href="{% url 'cerrar' %}"><button class="btn">Cerrar sesion</button></a>
        </div>
    {% endif %}
</header>
<div class="cont-logo">
    <a href="{% url 'index'%}"><img src="{% static 'images/logo.png' %}" id="logo"></a>
    <div class="pop-tags">
        {% for tag in pop_tags %}
            <a href="{% url 'sub_theme' tag.name %}" class="link-themes">{{tag.name}}</a>
        {% endfor %}
    </div>
    <ul id="dollars">
        {% for dolar in dollars %}
            <li>{{ dolar.nombre }} <b>${{ dolar.venta }}</b></li>
        {% empty %}
            <li>No se encontraron datos.</li>
        {% endfor %}
    </ul>  
</div>