<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/header_style.css' %}">
    <title>Document</title>
</head>
<body>
    {% include "header.html" %}
    <main>

    </main>
    {% for post in posts %}
        <article>
            <a href="{% url 'view_post' post.id %}">
                <h1>{{post.title}}</h1>
                <img src="/media/{{post.image_banner}}">
                <p>{{post.short_description}}</p>
                <p>Por <b>{{post.author.nombre}}</b></p>
            </a>
        </article>
    {% endfor %}
</body>
</html>