<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/header_style.css' %}">
    <title>Document</title>
</head>
<body>
    {% include "header.html" %}
    <main>
        {% if title_subtheme %}
            <h1>{{title_subtheme}}</h1>
        {% else %}
            <h1>{{title_theme}}</h1>
        {% endif %}
        {% for post in posts %}
            <a href="{% url 'view_post' post.main_theme post.id %}">
                <h2>{{post.title}}</h2>
                <img src="/media/{{post.image_banner}}">
                <p>{{post.short_description}}</p>
                <p>Por <b>{{post.author.nombre}}</b></p>
            </a>
        {% empty %}
            <p>No hay post con esta etiqueta</p>
        {% endfor %}
    </main>
</body>
</html>