<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/usuarios.css' %}">
    {% include "head_atts.html" %}
    <title>Usuarios</title>
</head>
<body>
    {% include "header.html" %}
    {% if user.is_staff %}

    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
    
        {% for usuario in usuarios %}
                <div class="cont-user">
                    {{ usuario.username }} - {{ usuario.email }}
                    {% if usuario.is_staff %}
                        <a href="{% url 'make_staff' usuario.id %}" class="sacar">Sacar permisos</a>
                    {% else %}
                        <a href="{% url 'make_staff' usuario.id %}" class="otorgar">Otorgar permiso</a>
                    {% endif %}
                </div>
        {% endfor %}
    </ul>
    {% else %}
    <h1>Acceso denegado para usuario no administrador</h1>
    {% endif %}
    {% include "footer.html" %}
</body>
</html>